.vscode/settings.json
__pycache__/network.cpython-313.pyc
__pycache__/ui.cpython-313.pyc
build/odiFinder/Analysis-00.toc
build/odiFinder/base_library.zip
build/odiFinder/EXE-00.toc
build/odiFinder/localpycs/pyimod01_archive.pyc
build/odiFinder/localpycs/pyimod02_importers.pyc
build/odiFinder/localpycs/pyimod03_ctypes.pyc
build/odiFinder/localpycs/pyimod04_pywin32.pyc
build/odiFinder/localpycs/struct.pyc
build/odiFinder/odiFinder.pkg
build/odiFinder/PKG-00.toc
build/odiFinder/PYZ-00.pyz
build/odiFinder/PYZ-00.toc
build/odiFinder/warn-odiFinder.txt
build/odiFinder/xref-odiFinder.html
dist/odiFinder.exe
odiFinder.spec
settings.json
settings.json
